header{
    background-color: #D9D9D9;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-size: 1.25em;
}

.circle {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 50%;
    margin-left: 40px;
}

.content {
    background-color: #F7F4F4;
    padding: 5em;
}

.content h1{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    font-size: 5em;
}

.content p {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    width: 650px;
}

.CTA{
    width: 200px;
    height: 60px;
    background-color: #D9D9D9;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 60px;
    padding-left: 40px;
}